.main {
  padding: 0 4.8rem;
  /* height: 10rem; */
  border-bottom: 1px solid silver;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.logo {
  height: 3rem;
  margin-top: 5px;
}
.heading {
  margin: 0;
  text-shadow: 0.25px 1px 0.5px black;
  font-size: 2.5rem;
  padding-left: 10px;
  font-weight: 500;
  /* margin-top: 10px; */
}
.navbarLinkHead {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: flex-end;
  text-shadow: 0.25px 0.25px 0.5px black;
  color: #7656d6;
  font-size: 1rem;
  transition: color 0.3s linear;
}
