.main {
  padding: 0 4.8rem;
  /* height: 10rem; */
  border-bottom: 1px solid silver;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.logo {
  height: 3rem;
  margin-top: 5px;
}
.heading {
  margin: 0;
  text-shadow: 0.25px 1px 0.5px black;
  font-size: 2.5rem;
  padding-left: 10px;
  font-weight: 700;
  margin-top: 10px;
}
.navbarLinkHead {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
  align-items: flex-end;
  text-shadow: 0.25px 0.25px 0.5px black;
  color: #7656d6;
  font-size: 1rem;
  transition: color 0.3s linear;
}
.menuOpen {
  display: none;
  font-size: 1.5rem;
  transition: 0.25s all ease-in-out;
  cursor: pointer;
  color: grey;
}
.menuClose {
  display: none;
  font-size: 1.5rem;
  transition: 0.25s all ease-in-out;
  cursor: pointer;
  color: grey;
}
.mobileNav {
  display: none;
}
@media screen and (max-width: 905px) {
  .menuOpen {
    display: flex;
  }
  .menuClose {
    display: flex;
  }
  .mobileNav {
    display: flex;
    transition: 0.75s;
    transform: translate(-100px);
  }
  .desktopNav {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .heading {
    display: none;
  }
}
