.h1 {
  text-align: center;
  color: #7656d6;
  text-shadow: 1px 1px 2px black;
  font-size: 5.8rem;
  margin: 0;
  line-height: 4rem;
  font-weight: bolder;
}
.p {
  color: grey;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  padding: 20px;
  transition: 0.5s all ease-in-out;
}
.firstSection {
  width: 380px;
  transition: 0.5s all ease-in-out;
  margin: 60px 0;
  flex-direction: column;
}
