.form {
  /* margin: auto; */
  max-width: 500px;
  color: white;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 2px 2px 20px 2px black;
  border: 1px solid #7656d6;
  padding: 25px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.lastSec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  color: #7656d6;
  text-shadow: 1px 1px 2px black;
  font-size: 50px;
  /* font-size: 400%; */
  margin: 0;
  /* padding: 5px; */
}
.button {
  /* border-radius: 0; */
  background-color: #7656d6;
}
