.nav li {
  display: flex;
  flex-wrap: wrap;
}
.nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: center;
}
.navbarLink {
  display: inline-block;
  text-decoration: none;
  /* text-shadow: 0.25px 0.25px 0.5px black; */
  color: #7656d6;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.5s linear;
}
.active {
  transform: scale(1.1);
  color: black;
}
.navbarLink:hover {
  transform: scale(1.1);
}
.navbarLists {
  display: flex;
  gap: 1.7rem;
  align-items: center;
}
.icon {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 0 5px;
  color: black;
}
@media screen and (max-width: 905px) {
  .nav {
    transition: 1s;
    transform: translate(100px);
  }
  .nav ul {
    flex-direction: column;
    transition: all 0.3s linear;

    /* justify-content: left; */
  }
  .nav li {
    justify-content: right;
  }
}
